<div class="container">
  <div class="row">
    <div id="map">
      <canvas #myCanvas (click)="clicked()"></canvas>
    </div>
    <div>

    </div>
  </div>
</div>
<img src="http://piskel-imgstore-b.appspot.com/img/ece0e0f8-1357-11e7-a3fd-2d11bb082bd7.gif" id="sword" style="display:none">
<img src="http://piskel-imgstore-b.appspot.com/img/cf2c84a8-135d-11e7-8e8e-2d11bb082bd7.gif" id="none" style="display:none">
<img src="http://piskel-imgstore-b.appspot.com/img/a21c45c0-135d-11e7-9e37-2d11bb082bd7.gif" id="arrow" style="display:none">
<img src="http://piskel-imgstore-b.appspot.com/img/15b21e85-135d-11e7-8029-2d11bb082bd7.gif" id="spear" style="display:none">