<img src="http://piskel-imgstore-b.appspot.com/img/6c9e32ba-1ddc-11e7-8e29-9fb114872e56.gif" id="None">
<img src="http://piskel-imgstore-b.appspot.com/img/55fae7cc-1ddb-11e7-8058-9fb114872e56.gif" id="fire">
<img src="http://piskel-imgstore-b.appspot.com/img/1d5869cc-1ddf-11e7-8036-9fb114872e56.gif" id="Fire wall">
<img src="http://piskel-imgstore-b.appspot.com/img/a1720dcf-1ddf-11e7-91b8-9fb114872e56.gif" id="Meteo">


<img src="http://piskel-imgstore-b.appspot.com/img/e3002c05-1ddb-11e7-94a8-9fb114872e56.gif" id="water">
<img src="http://piskel-imgstore-b.appspot.com/img/573f530c-1de0-11e7-99dc-9fb114872e56.gif" id="Water cannon">
<img src="http://piskel-imgstore-b.appspot.com/img/d5739e17-1de0-11e7-a8b6-9fb114872e56.gif" id="Tsunami">


<img src="http://piskel-imgstore-b.appspot.com/img/3567348a-1ddc-11e7-8010-9fb114872e56.gif" id="grass">
<img src="http://piskel-imgstore-b.appspot.com/img/0de865cf-1de1-11e7-8476-9fb114872e56.gif" id="Heal">
<img src="http://piskel-imgstore-b.appspot.com/img/4151e463-1de1-11e7-9492-9fb114872e56.gif" id="Poison seeds">


<img src="http://piskel-imgstore-b.appspot.com/img/78fb776b-19c8-11e7-b6f2-8d572b417110.gif" id="effect">
