<img src="http://piskel-imgstore-b.appspot.com/img/cf2c84a8-135d-11e7-8e8e-2d11bb082bd7.gif" id="none" style="display:none">
<img src="http://piskel-imgstore-b.appspot.com/img/8579f1c5-19bb-11e7-b3bb-8d572b417110.gif" id="sword" style="display:none">
<img src="http://piskel-imgstore-b.appspot.com/img/1306bdae-19bc-11e7-aae1-8d572b417110.gif" id="spear" style="display:none">
<img src="http://piskel-imgstore-b.appspot.com/img/a40b6ade-19bc-11e7-811b-8d572b417110.gif" id="bow" style="display:none">
<img src="http://piskel-imgstore-b.appspot.com/img/cf2c84a8-135d-11e7-8e8e-2d11bb082bd7.gif" id="none2" style="display:none">
<img src="http://piskel-imgstore-b.appspot.com/img/bae62d00-19bb-11e7-ad7d-8d572b417110.gif" id="sword2" style="display:none">
<img src="http://piskel-imgstore-b.appspot.com/img/244ddf2b-19bc-11e7-afe9-8d572b417110.gif" id="spear2" style="display:none">
<img src="http://piskel-imgstore-b.appspot.com/img/af8e50ba-19bc-11e7-b927-8d572b417110.gif" id="bow2" style="display:none">
<img src="http://piskel-imgstore-b.appspot.com/img/78fb776b-19c8-11e7-b6f2-8d572b417110.gif" id="bow2" style="display:show;width:100px;height: auto">
