<p>
  <span class="hidden-block"><img class="move-btn" src="./src/images/arrowButton.jpg"/></span>
  <span (click)="setPosition([-1, 0])"><img id="up-btn" class="move-btn" src="./src/images/arrowButton.jpg"/></span>  
</p>
<p>
  <span (click)="setPosition([0, -1])"><img id="left-btn" class="move-btn" src="./src/images/arrowButton.jpg"/></span>
  <span class="hidden-block"><img class="move-btn" src="./src/images/arrowButton.jpg"/></span>
  <span (click)="setPosition([0, 1])"><img id="right-btn" class="move-btn" src="./src/images/arrowButton.jpg"/></span>
</p>
<p>
  <span class="hidden-block"><img class="move-btn" src="./src/images/arrowButton.jpg"/></span>
  <span (click)="setPosition([1, 0])"><img id="down-btn" class="move-btn" src="./src/images/arrowButton.jpg"/></span>
</p>
<p><span (click)="setPosition([0, 0])">none</span></p>