<div class="row">
    <div class="text-right">
        <button class="btn-sm btn-default" (click)="isAutoPlay()" *ngIf="autoPlay">수동</button>
        <button class="btn-sm btn-success" (click)="isAutoPlay()" *ngIf="!autoPlay">자동</button>
        <button class="btn-sm btn-default" (click)="DoPlay()" *ngIf="!autoPlay">진행</button>
    </div>
    <div id="map" class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-10">
        <app-touchscreen></app-touchscreen>
        <canvas #myCanvas></canvas>
    </div>
    <div class="status col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-2">
        <div class="btn-group" role="group" aria-label="...">
            <ng-container *ngFor="let skill of skills ">
                <button *ngIf="skill.name != 'None'" class="btn-xs btn-primary" (click)="onSelect(skill)"> {{skill.name}} <span class="badge">{{skill.damage}}</span> </button>
            </ng-container>
        </div>
    </div>
</div>