<div class="row">
  <div id="map" class="col-lg-9">
    <app-touchscreen></app-touchscreen>
    <canvas #myCanvas></canvas>
  </div>
  <div class="status col-lg-3">
    <div>
      웨폰선택
      <p *ngFor="let skill of skills ">
        <span *ngIf="skill.key != 0">
          <span class="btn btn-primary" (click)="onSelect(skill)"> {{skill.name}}</span> <span class="badge">{{skill.damage}}</span>
          <br>
          <p *ngFor="let skill of skill.skill ">
          <span class="btn btn-primary" (click)="onSelect(skill)" (click)="onSelectSkill(skill)">{{skill.name}}</span> <span class="badge">{{skill.damage}}</span>
          </p>
        </span>
      </p>
    </div>
    <hr>
    <div>
      적체력: {{enemyHp}}
      <hr>
      내체력: {{playerHp}}

    </div>
    <hr>
    <div>
      <button (click)="isAutoPlay()" *ngIf="autoPlay">자동</button>
      <button (click)="isAutoPlay()"*ngIf="!autoPlay">수동</button>
      <button (click)="DoPlay()" *ngIf="!autoPlay">진행</button>
    </div>
  </div>
</div>
