<div class="row">
    <div class="text-right col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-10">
        <button class="btn-xs btn-default" (click)="isAutoPlay()" *ngIf="autoPlay">수동</button>
        <button class="btn-xs btn-success" (click)="isAutoPlay()" *ngIf="!autoPlay">자동</button>
        <button class="btn-xs btn-default" (click)="DoPlay()" *ngIf="!autoPlay">진행</button>
    </div>
    <div id="map" class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-10">
        <app-touchscreen></app-touchscreen>
        <canvas #myCanvas></canvas>
    </div>
    <div class="status col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-2">
        Skill List
        <div class="btn-group" role="group" aria-label="...">
            <ng-container *ngFor="let skill of skills ">
                <button *ngIf="skill.name != 'None' && skill.attribute == 'fire'" class="btn-sm btn-danger" (click)="onSelect(skill)"> {{skill.name}} <span class="badge">{{skill.damage}}+{{skill.dotDamage}}*{{skill.dotTurn}}s</span> </button>
                <button *ngIf="skill.name != 'None' && skill.attribute == 'water'" class="btn-sm btn-primary" (click)="onSelect(skill)"> {{skill.name}} <span class="badge">{{skill.damage}}+{{skill.dotDamage}}*{{skill.dotTurn}}s</span> </button>
                <button *ngIf="skill.name != 'None' && skill.attribute == 'grass'" class="btn-sm btn-success" (click)="onSelect(skill)"> {{skill.name}} <span class="badge">{{skill.damage}}+{{skill.dotDamage}}*{{skill.dotTurn}}s</span> </button>
            </ng-container>
        </div>

        1.3 >>> Fire>Grass>Water>Fire >>> 0.7
    </div>
</div>